* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --background1: #2F0A28;
    --background2: #ffffff;

    --paragraph-color: #62466B;
    --title-color: #2D2327;
  
    --button-color: #45364B;
    --button-hover-color: #ffffff;
    --button-hover-background-color: #2D2327;
  
    font-size: 62.5%;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

body {
    background: linear-gradient(to bottom, var(--background1), var(--background2));
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
    color: var(--title-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

.profile-links{
    display: flex;
    justify-content: center;
}

.img-profile {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

a {
    color: var(--paragraph-color);
    font-size: 1.5rem;
    padding: 1rem 7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: solid 1px var(--button-color);
    margin: 1rem;
    border-radius: 1rem;
}

a:hover{
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-color);
}

footer{
    color: var(--title-color);
    margin-top: 3rem;
}

@media (max-width: 771px) {
    a{
        font-size: 2rem;
        padding: 1.5rem 7rem;
    }

    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 2rem;
    }
}  
